
        <footer class="bg-dark pt-4 pb-4 mt-4 mb-4">
            <div class="container text-center text-white">
                All content copyright &copy; 2024-2025<br>By The Community of WordPress Lovers
            </div>

            <script defer src="dist/juniper.js"></script>
        </footer>   
    </body>
</html>
