.main {
    margin-top: 50px;
}

img.banner {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.hero {
    background: black;
    height: 200px;
}

.front {
    .info {
        margin-bottom: 40px;
    }

    #search {
        padding: 3px 10px;
        color: #888;
        height: 40px;
        border-radius: 0px;
        border: 0px;
        width: 300px;
    }
}

.main { 
    .row {
        width: 100%;
        margin-left: 0px;
    }

    .info {
        height: 60px;
        padding: 10px 20px;
        overflow: hidden;

        .star, .download {
            font-size: 16pt;
            padding: 0px 5px;
        }

        h2 {
            line-height: 40px;
            color: white;
            font-size: 22pt;
            font-weight: bold;
            overflow: hidden;
            width: 100%;
        }

        .author {
            line-height: 40px;
            color: #ccc;

            a {
                font-weight: bold;
                color: white;
            }
        }
    }

    .detailed {
        background: #f8f8f8;
        padding: 10px 20px;

        h4 {
            margin-top: 20px;
        }

        .avatar {
            margin-top: 20px;
            width: 100%;
            object-fit: cover;
            border: px solid #aaa;
        }
    }

    .github > h1 {
        display: none;
    }

    .github {
        padding-top: 20px;
        h1 {
            font-size: 20pt;
        }

        h2 {
            font-size: 18pt;
        }

        h3 {
            font-size: 16pt;
        }

        h4 {
            font-size: 14pt;
        }
    }

    .endorse .one {
        width: 40%;
        display: inline-block;
    }
}

.card-area {
    text-align: left;

    .card-img-top {
        border-radius: 0px!important;
    }
}

.card {
    border-radius: 0px!important;
    float: left;
    width: 23%;
    padding: 0px;
    background: #f8f8f8;
    position: relative;
    margin: 10px;

    .btn {
        margin-bottom:  15px;
    }

    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .card-body {
        padding: 0px;
        background: #f8f8f8;
    }

    p.card-text {
        height: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
    }

    .card-title {
        height: 90px;
        display: block;
        line-height: 1.1;
        color: white;
        font-size: 14pt;
        display: block;
        padding: 10px;
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */

        a {
            vertical-align: middle;
            color: white;
        }
    }
}

.issues-inside {
    padding-top: 20px;

    h5 {
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 12pt;
    }

    .meta {
        margin-bottom: 0px;
        color: #777;
        font-weight: normal;
        font-size: 10pt;
    }
    
    img.issue-avatar {
        float: left;
        width: 64px;
        height: 64px;
        display: block;
        margin-right: 15px;
        border: 1px solid #ccc;
    }

    ul {
        padding-left: 0px;
        list-style-type: none;

        li {
            padding-top: 20px;
            padding-bottom: 10px;

            p.body {
                max-height: 100px;
                overflow: scroll; 
                margin-top: 10px;
            }

            border-bottom: 1px solid #ddd;
        }
    }
}

.release-inside {
    padding-top: 20px;
    
    h5 {
        padding-bottom: 0px;
        margin-bottom: 20px;
        font-size: 12pt;
    }

    .meta {
        margin-bottom: 0px;
        color: #777;
        font-weight: normal;
    }

    ul {
        padding-left: 0px;
        list-style-type: none;

        li {
            padding-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
    }
}

.latest-release {
    .new {
        h4 {
            font-size: 12pt;
            margin-bottom: 0px;
        }

        .meta {
            margin-bottom: 0px;
            color: #777;
            font-weight: normal;
            font-size: 10pt;
            margin-bottom: 10px;
        }
    }
}

.main-content {
    h2 {
        font-size: 20pt;
    }

    h4 {
        font-size: 14pt;
        margin-bottom: 0px;
    }

    ul {
        list-style-type: none;
        padding-left: 0px;

        li {
            margin-bottom: 15px;
        }
    }

    .latest {
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
}

.clear {
    clear: both;
}


@media only screen and (max-width: 576px) {
    .main {
        .card {
            width: 100%;
        }

        .info h2 {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main {
        .card {
            width: 45%;
        }


        .info h2 {
            font-size: 14pt;
        }
    }
}


@media only screen and (max-width: 992px) {
    .main {
        .card {
            width: 31%;
        }

        .info h2 {
            font-size: 16pt;
        }
    }
    
}


@media only screen and (max-width: 1200px) {
    .main {
        .card {
            width: 23%;
        }
    }

}
